@charset "utf-8";

$color: #acbfb9;   //主体颜色
$bg: #22332d;      //主要背景
$hcolor: #faa42e;


//字体大小方法
@mixin fz($size: 12px){
  font-size: $size;
}
//单边边框方法
@mixin bor($dt, $ct: #e8e8e8){
  border-#{$dt}: 1px solid $ct;
}
//全边框方法
@mixin border($ct: #e8e8e8){
  border: 1px solid $ct;
}
//圆角方法
@mixin radius($radius: 10px) {
　-webkit-border-radius: $radius;
　-moz-border-radius: $radius;
　border-radius: $radius;
}
//外边距
@mixin margin($margin: 10px){
  margin: $margin;
}
//内边距
@mixin padding($padding: 10px){
  padding: $padding;
}
//文字对齐方式
@mixin align($align: center){
  text-align:$align;
}
//三角形
@mixin tri($dire,$dc,$width){
  width: 0;
  height: 0;
  line-height: 0;
  border: $width solid transparent;
  border-#{$dire}-color: $dc;
}


html, body, form, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, em, address, a, input, textarea, span, strong, img {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 12px;
  color: #666;
  @extend %ffyh;
}

ul, dl {
  list-style: none;
}

input, textarea, select, button {
  font-size: 12px;
  outline: none;
}

img {
  border: none;
}

a {
  color: $color;
  text-decoration: none;
  blr: expression(this.onFocus=this.blur());
  outline: none;
  /* -webkit-transition: color 0.8s ease;-moz-transition: color 0.8s ease;-o-transition: color 0.8s ease;transition: color 0.8s ease; */
}

a:hover {
  color: $hcolor;
}

i, em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  margin: 0px;
}

thead, tbody, tfoot, tr, td {
  margin: 0px;
}

.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal;
}

::selection{background:#e57779;color: #fff;}

::-webkit-selection{background:#e57779;color: #fff;}

::-moz-selection{background:#e57779;color: #fff;}

section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

.clear10 {
  clear: both;
  height: 10px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix{
  zoom:1;
}

.pr {
  position: relative;
  z-index: 0;
}

.pa {
  position: absolute;
}

.tin {
  text-indent: 2em;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center{
  max-width: 1260px;
  margin: auto;
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

body{
  background: url(../images/bg.jpg);
}

.wrap{
  -moz-box-shadow: 0px 0px 30px 5px rgba(10,10,10,0.8);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(10,10,10,0.8);
   box-shadow: 0px 0px 30px 5px rgba(10,10,10,0.8);
}



/**********  header头部  *********/

#header {
  width: 100%;
  @extend %minw,.pr;
  z-index: 9;
}

/********** top顶部 **********/
#top{
  /*height: 32px;*/
  line-height: 32px;
  background: $bg;
  /*width: 100%;*/
  @extend %minw,%ffst;
  z-index: 9;
  .top_c{
    @extend %c84;
  }
  .top_l{
    @extend .fl;
    em{
      color: $color;
    }
    span{
      color: #4c5d57;
    }
  }
  .top_r{
    @extend .fr;
    margin-right: 174px;
  }
  .lh{
    & > li{
      @extend %fl;
      &:first-child{
        margin-right: 4px;
      }
      &.top_cart{
        margin-right: 4px;
      }
    }
    a,span{
      @extend %inline;
    }
    .icon_arr{
      @extend %icon,%inline;
      width: 8px;
      height: 5px;
    }
    .top_ap{
      padding: 0 4px;
      @extend %fl;
    }
    .top_cbox{
      display: none;
      width: 270px;
      @include border(#4e5955);
      border-top: none;
      background: #6b7471;
      @extend %pa;
      top: 33px;
      left: -66px;
    }
    .top_soa{
      background: #22332d;
      @include align(right);
      padding: 10px;
      color: #fff;
      line-height: 1;
      em{
        color: $hcolor;
        @include fz(18px);
        font-weight: normal;
        @extend %ffyh;
      }
    }
    .top_sbtn{
      @extend %inline;
      padding: 5px;
      color: #22332d;
      background: $hcolor;
      border-radius: 3px;
      margin-top: 8px;
    }
    .dd_auto{
      width: 290px;
      .dd{
        max-height: 248px;
        overflow: auto;
      }
    }
  }
  .dd{
    @include align(left);
    padding: 10px;
    padding-top: 0;
    li{
      @include bor(bottom,#a0a6a4);
      padding: 10px 0;
      width: 100%;
    }
    .dd_box{
      width: 60px;
      height: 60px;
      @include border(#eee);
      @extend %fl;
      img{
        width: 100%;
      }
    }
    .dd_con{
      @extend %fr;
      width: 180px;
      line-height: 1;
      color: #f9fdfc;
      & > div{
        margin-top: 7px;
        width: 100%;
        @extend %nowrap;
      }
      a{
        color: #f9fdfc;
        &:hover{
          text-decoration:underline;
        }
      }
      em{
        color: $hcolor;
        font-weight: normal;
        @extend %ffyh;
        @include fz(12px);
      }
    }
    .dd_del{
      @include align(right);
      margin-right: 10px;
    }
  }
  .top_cart{
    .icon_cart{
      width: 13px;
      height: 12px;
      @extend %icon,%inline;
      background-position: 0 -200px;
    }
    em{
      @extend %ffar;
      @include fz(14px);
      color: $hcolor;
      vertical-align: middle;
      font-weight: bold;
    }
  }
  .top_cart.hover{
    @extend %pr;
    z-index: 9;
    & > a{
      background: #6b7471;
    }
    .top_cbox{
      display: block;
    }
  }
  .top_empty{
    color: #fff;
    @include align;
    line-height: 1;
    padding: 30px 0;
  }
  .share{
    a{
      width: 20px;
      height: 16px;
      @extend %icon,%inline,%pr;
      color: #555;
      line-height: 26px;
      z-index: 9;
    }
    a:hover{
      color: #555;
    }
    .share_mo{
      background-position: 0 -10px;
    }
    .share_wx{
      background-position: 0 -32px;
    }
    .share_qz{
      background-position: 0 -53px;
    }
    .share_wb{
      background-position: 0 -74px;
    }
    i{
      @include tri(bottom,#fff,4px);
      @extend .pa;
      top: -8px;
      left: 9px;
    }
    .share_box{
      display: none;
      width: 180px;
      background: #fff;
      @extend .pa;
      top: 21px;
      left: -3px;
      img{
        width: 100%;
      }
      em{
        display: block;
        @include align;
      }
    }
  }
}

.region{
  background-image: url(../images/region_bg.png);
  @extend %pa;
  top: 33px;
  left: 0;
  width: 100%;
  .region_c{
    @extend %c84,.pr;
  }
  a{
    color: #fff;
  }
}

.menu{
  width: 90px;
  height: 70px;
  @include bor(right,#7e8f82);
  @extend .fl;
  color: #fff;
  @include align;
  cursor: pointer;
  span{
    @include fz(15px);
    @extend .fl;
    margin: 26px 0 0 8px;
  }
  i{
    @extend %icon,.fl;
    width: 22px;
    height: 16px;
    background-position: 0 -95px;
    margin-top: 28px;
  }
}
.menu_nav{
  position: fixed;
  left: 0px;
  top: 80px;
  z-index: 500;
  background: #000;
  width: 205px;
  height: 598px;
  overflow: visible;
  cursor: default;
  @include fz(15px);
  font-weight: bold;
  margin-left: -205px;
  z-index: 10;
  li{
    background: url(../images/menu_fg.png) repeat-x left bottom;
    padding-bottom: 3px;
    @include align;
    a{
      display: block;
      height: 52px;
      line-height: 52px;
    }
    &:hover{
      a{
        background: #fff;
        color: #000;
      }
    }
  }
}
.menu_nav_t{
  width: 115px;
  margin: auto;
  padding: 30px 0;
  img{
    width: 100%;
  }
}

/**********  nav头部导航 *********/

.nav {
  @include bor(left,#506357);
  height: 70px;
  @extend .fl;
  ul {
    margin: 26px 0 0 15px;
    li {
      float: left;
      text-align: center;
      font-size: 15px;
      &:hover a,&.nav_on a{
        color: $hcolor;
      }
    }
    a{
      display: block;
      padding:0 15px;
    }
  }
}


/**********  search头部搜索 *********/
.search{
  @extend .fl;
  width: 255px;
  overflow: hidden;
  margin: 23px 0 0 64px;
  .search_txt{
    border: none;
    background: #fff;
    width: 90%;
    height: 22px;
    text-indent: 6px;
    *line-height: 32px;
    @extend .fl,%ffst;
    @include fz(14px);
    color: #666;
    &:focus{
      box-shadow: inset 3px 3px 6px #ddd;
    }
  }
  .search_sub{
    width: 10%;
    height: 22px;
    border: none;
    color: #fff;
    @extend .fl,%icon;
    background-position: 1px -115px;
    cursor: pointer;
  }
}



.logo {
  @extend .pa;
  right: 0;
  top: -38px;
}




/**********  content  *********/
#content{
  width: 100%;
  @extend %minw;
  margin-top: -70px;
}







/**********  footer底部  *********/

#footer {
  width: 100%;
  background: $bg;
  @extend %minw,%ffst;
  @include align;
  overflow: hidden;
  a:hover{
    color: $color;
    text-decoration: underline;
  }
  .footer_c{
    @extend %c84;
    padding-bottom: 30px;
  }
  .footer_fw{
    @extend %inline,.fl;
    @include align(left);
    margin-top: 40px;
    line-height: 24px;
    width: 75%;
    li{
      @extend .fl;
      width: 20%;
      b{
        display: block;
        color: #fff;
      }
    }
  }
  .footer_search{
    width: 25%;
    padding-top: 40px;
    @extend .fr;
    color: #fff;
  }
  .footer_form{
    display: block;
    width: 100%;
    margin-top: 5px;
    .footer_txt{
      width: 90%;
      @extend .fl;
      border: none;
      background: #fff;
      height: 22px;
      text-indent: 5px;
    }
    .footer_sub{
      @extend .fl,%icon;
      width: 10%;
      height: 22px;
      border: none;
      color: #fff;
      background-position: 1px -115px;
      cursor: pointer;
      border: none;
    }
  }
  .footer_gz{
    background: #3b4a45;
    margin-top: 22px;
    width: 100%;
    .fr{
      width: 47%;
      text-align: left;
    }
    em{
      display: block;
      margin: 20px 0 0 0px;
    }
  }
  .footer_bot{
    @extend %c84;
    padding-top: 28px;
    @include bor(top,#4c5d57);
    color: $color;
  }
  .footer_copy{
    @include align(left);
    color: $color;
  }
  .footer_nav{
    padding: 0px 0 10px;
    line-height: 1;
    ul{
      @extend %inline;
    }
    li{
      float: left;
      padding: 0 4px;
      @include bor(left,$color);
      &:first-child{
        border-left: none;
      }
    }
  }
  .footer_link{
    @include align(right);
    padding-right: 5px;
  }
  .footer_cx{
    margin: 16px 0 28px;
  }
}

asyncui {
  display: block;
}

.asyncbox {
  position: absolute;
  font: 12px Tahoma,sans-serif;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  box-shadow: 0 0 8px #868181;
  background: #fff;
}

ab_skins {
  background: url(../images/default_bg.gif);
  ul {
    background: url(../images/default_tb.gif);
  }
}

ab_clone {
  border: 1px dotted #666;
}

table.ab_outer {
  width: auto;
  height: auto;
  border-collapse: collaps;
}

.asyncbox {
  table, td, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/*.ab_border,.ab_close,.ab_footbar a,.ab_footbar span{background:url(default/default_bg.png) no-repeat;}*/

.ab_border {
  opacity: 0.9;
  filter: alpha(opacity = 90);
  font-size: 0;
}

/* 上左中右下 */
/*.ab_t,.ab_b{height:26px;background:url(default/default_tb.gif) repeat-x}*/

.ab_l div, .ab_r div {
  width: 7px;
}

.ab_l, .ab_r {
  background-repeat: repeat-y;
}

.ab_c {
  background: #fff;
}

.ab_r {
  background-position: -8px 0;
}

.ab_b {
  height: 7px;
  background-position: 0 -27px;
}

/* 顺时针四个角 */

.ab_lt {
  background-position: -16px -32px;
}

.ab_rt {
  background-position: -24px -32px;
}

.ab_rb {
  background-position: -24px -59px;
}

.ab_lb {
  background-position: -16px -59px;
}

.ab_title {
  position: relative;
  height: 32px;
  /* margin-top:-26px; */
  color: #333;
  cursor: default;
  padding-right: 20px;
  overflow: hidden;
  -moz-user-select: none;
  font-size: 14px;
  line-height: 32px;
  font-family: Simson;
  background: #f7f7f7;
}

.ab_close {
  background: url(../images/default_bg.png) no-repeat;
  position: absolute;
  top: 6px;
  right: 0;
  width: 15px;
  height: 15px;
  background-position: -16px 0;
  &:hover {
    background-position: -16px -16px;
  }
}

/*asyncbox alert...*/

.asyncbox_alert, .asyncbox_confirm, .asyncbox_success, .asyncbox_warning, .asyncbox_error {
  color: #033;
  margin: 12px 20px;
  line-height: 18px;
  padding-left: 46px;
  text-align: left;
}

.asyncbox_alert span, .asyncbox_confirm span, .asyncbox_success span, .asyncbox_warning span, .asyncbox_error span {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 36px;
  left: 36px;
  background: url(../images/default_bg.png) no-repeat -32px 0;
}

.asyncbox_confirm span {
  background-position: -69px 0;
}

.asyncbox_success span {
  background-position: -106px 0;
}

.asyncbox_warning span {
  background-position: -143px 0;
}

.asyncbox_error {
  span {
    background-position: -180px 0;
  }
  color: #F00;
}

.asyncbox_prompt {
  color: #033;
  padding: 0 10px;
  li {
    margin-top: 8px;
  }
  input, textarea {
    color: #666;
    padding: 2px;
    border: 1px solid #84A0C4;
    font: 12px / 1.3em Verdana, sans-serif;
    resize: none;
  }
  input {
    height: 17px;
  }
}

.ab_footbar {
  padding: 10px 10px 10px 0;
  text-align: right;
  a {
    margin: 0 0 0 10px;
    padding: 0;
    display: inline-block;
    border: none;
    text-decoration: none;
    width: 91px;
    height: 29px;
    line-height: 28px;
    cursor: pointer;
    background-position: -32px -38px;
    text-align: center;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    &:first-child {
      background: url(../images/default_bg.png) no-repeat -32px -38px;
      border: none;
      span {
        color: #fff;
      }
    }
  }
  span {
    display: block;
    background-position: 100% -38px;
    color: #555;
    font-weight: bold;
  }
  a:hover {
    background-position: -132px -38px;
    text-decoration: none;
  }
}

.bannerBox{
  width: 100%;
  height:580px;
  margin: auto;
  position:relative;
  overflow: hidden;
  .banner_c{
    width: 100%;
    height: 580px;
  }
}

.content_t{
  background: #3b4a45;
}


/*分页样式*/
.paging{
  width: 100%;
  @include align;
  span,a{
    @extend %inline;
    padding: 6px 10px;
    @include border(#ccc);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial,SimSun;
    color: #3b4a45;
  }
  span{
    color: #ccc;
  }
  a:hover{
    color: #fca634;
  }
  em{
    @extend %inline;
    padding: 6px 10px;
    color: #fca634;
    font-weight: bold;
  }
}




%ffst{  //宋体
  font-family: SimSun;
}
%ffht{  //黑体
  font-family: SimHei;
}
%ffyh{  //微软雅黑
  font-family: Microsoft yahei;
}
%ffar{  //Arial
  font-family: Arial;
}
%icon{  //图标集
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
}
%w100{  //图片自适应
  width: 100%;
}
%nowrap{  //单行文字
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
%inline{  //行内元素
  display:inline-block;
  *display:inline;
  zoom:1;
  vertical-align: middle;
}
%imgtc{    //图片的垂直居中
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  *display: block;
  *font-size: 175px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;
  width:200px;
  height:200px;
  border: 1px solid #eee;
}
%center{    //主体居中
  width: 1200px;
  margin: auto;
}
%minw{    //最小宽度
  min-width: 1060px;
}
%fl{
  float: left;
}
%fr{
  float: right;
}
%pr{
  position: relative;
}
%pa{
  position: absolute;
}
%c84{
  width: 1060px;
  margin: auto;
}