@charset "utf-8";

$color: #acbfb9;   //主体颜色
$bg: #22332d;      //主要背景
$hcolor: #faa42e;


//字体大小方法
@mixin fz($size: 12px){
  font-size: $size;
}
//单边边框方法
@mixin bor($dt, $ct: #e8e8e8){
  border-#{$dt}: 1px solid $ct;
}
//全边框方法
@mixin border($ct: #e8e8e8){
  border: 1px solid $ct;
}
//圆角方法
@mixin radius($radius: 10px) {
　-webkit-border-radius: $radius;
　-moz-border-radius: $radius;
　border-radius: $radius;
}
//外边距
@mixin margin($margin: 10px){
  margin: $margin;
}
//内边距
@mixin padding($padding: 10px){
  padding: $padding;
}
//文字对齐方式
@mixin align($align: center){
  text-align:$align;
}
//三角形
@mixin tri($dire,$dc,$width){
  width: 0;
  height: 0;
  line-height: 0;
  border: $width solid transparent;
  border-#{$dire}-color: $dc;
}



.login{
  background: #3b4a45;
  padding: 214px 0 74px;
}

.login_d{
  border: 3px solid #435550;
  background: #fff;
  width: 1054px;
  margin: auto;
  padding: 32px 0;
}
.login_l{
  @extend %fl;
  margin-left: 32px;
  width: 540px;
}
.login_r{
  @extend %fl;
  margin-left: 92px;
}


.sign_main:after, .otherAccout:after, .input_container:after {
  visibility: hidden;
  overflow: hidden;
  display: block;
  content: ".";
  clear: both;
  height: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.sign {
  line-height: 1.5;
  overflow: hidden;
  padding: 214px 0 74px;
  h1 {
    font-weight: 400;
    color: #e31256;
  }
}

.pre_login h2 {
  font-weight: 400;
  color: #e31256;
}

.sign {
  input {
    vertical-align: middle;
  }
  .textbox_ui {
    position: relative;
    *zoom: 1;
  }
  .act, .line {
    font-size: 12px;
    margin: 30px 0;
    clear: both;
    color: #333;
  }
}

.textbox_ui {
  input {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #CFCFCF;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    line-height: 1.5;
    font-size: 14px;
    outline: 0;
    height: auto;
    width: 284px;
    &:focus {
      -webkit-box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
      box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
      border-color: #A5D4ED;
    }
  }
  .type_text_focus, .type_email_focus, .type_password_focus {
    -webkit-box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
    box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
    border-color: #A5D4ED;
  }
}

.error_ui input {
  -webkit-box-shadow: 0 0 4px 1px rgba(228, 36, 36, 0.6);
  box-shadow: 0 0 4px 1px rgba(228, 36, 36, 0.6);
  border-color: #E24A4A;
  display: block;
}

.textbox_ui {
  .invalid, .loading, .focus_text {
    position: absolute;
    line-height: 1.5;
    /*display: none;*/
  }
  .loading {
    margin-top: -.75em;
    margin-left: 10px;
    left: 100%;
    top: 50%;
  }
  .invalid i {
    background-position: 0 -100px;
    position: absolute;
    left: -20px;
    top: 50%;
  }
  .loading, .invalid i {
    margin-top: -10px;
    height: 20px;
    width: 20px;
  }
  .valid {
    background-position: 0 -125px;
  }
}

.sign .textbox_ui p {
  margin: 0;
}

/*.invalid {
  .required, .custom, .format {
    display: none;
  }
}*/

.textbox_ui {
  .invalid, .focus_text {
    word-break: keep-all;
    white-space: nowrap;
    margin-top: 4px;
    color: #999;
    /*top: 100%;*/
    left: 0;
  }
  /*.invalid {
    display: none;
    height: 1.5em;
    left: 20px;
  }*/
}

.focus_text{
  display: none;
}

:focus ~ .focus_text {
  display: block;
}

/*.error_ui .focus_text {
  display: none;
}*/

.line {
  label, .textbox_ui {
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  label {
    margin-right: 1em;
    margin-left: -5em;
    text-align: right;
    font-size: 14px;
    width: 10em;
  }
}

.sign .act {
  margin-left: 88px;
}

.signok {
  .loading {
    margin-left: -25px;
  }
}

.loginBord {
  .loading {
    margin-left: -25px;
  }
}

.verityWrap {
  input {
    width: 118px;
  }
  a, img, .textbox_ui {
    vertical-align: middle;
    margin-right: 12px;
  }
  img {
    height: 38px;
    border: 1px solid #cfcfcf;
  }
  a, img {
    display: inline-block;
  }
}

.textbox_ui .safe {
  position: relative;
  line-height: 20px;
  display: none;
}

.safe {
  span {
    display: inline-block;
    background: #D0CECC;
    text-align: center;
    margin-right: 1px;
    width: 100px;
    color: #fff;
  }
  .rank0 {
    background: #EF2B6B;
  }
  .rank1 {
    background: orange;
  }
  .rank2 {
    background: green;
  }
}

input {
  &.type_reset, &.type_submit, &.type_button, &[type=reset], &[type=submit] {
    overflow: visible;
  }
}

.sign_butn {
  display: inline-block;
  font-family: inherit;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 0 50px;
  height: 40px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: rgb(255,198,20); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,198,20,1) 0%, rgba(252,171,56,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,198,20,1)), color-stop(100%,rgba(252,171,56,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc614', endColorstr='#fcab38',GradientType=0 ); /* IE6-9 */

}

.sign_butn:hover{
  text-decoration: none;
  background: #fba832;
  color: #fff;
}

.loginbtn, .regibtn {
  display: inline-block;
  font-family: inherit;
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
  line-height: 34px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  height: 34px;
  color: #fff;
  border: 0;
  width: 118px;
  margin-left: 25px;
  @extend %icon;
  background: rgb(255,198,20); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,198,20,1) 0%, rgba(252,171,56,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,198,20,1)), color-stop(100%,rgba(252,171,56,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,198,20,1) 0%,rgba(252,171,56,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc614', endColorstr='#fcab38',GradientType=0 ); /* IE6-9 */
}
.loginbtn{
  background-position: -82px -278px;
}

.regibtn{
  background-position: -82px -243px;
  &:hover{
    color:#fff;
  }
}


/*input {
  &.type_reset:hover, &.type_submit:hover, &.type_button:hover {
    border-color: #c81f52;
    text-decoration: none;
    background: #bf0616;
  }
  &[type=reset]:hover, &[type=submit]:hover {
    border-color: #e4393c;
    background: #c20009;
  }
}
*/
.agree_lab{
  cursor: pointer;
  input{
    vertical-align: middle;
  }
}

.otherAccout {
  background-color: #f6f6f6;
  margin-bottom: 10px;
  padding-left: 1px;
  max-width: 303px;
  _width: 304px;
  *padding-bottom: 1px;
  *zoom: 1;
  p {
    padding-left: 11px;
    line-height: 30px;
    color: #666;
  }
  a {
    text-decoration: none;
    margin: 0 1px 1px 0;
    line-height: 35px;
    background: #fff;
    padding: 0 10px;
    color: #000;
    width: 80px;
    float: left;
    _line-height: normal;
    _padding: 5px 10px;
  }
  i {
    @extend %icon;
    filter: alpha(opacity = 80);
    vertical-align: middle;
    display: inline-block;
    margin-right: .25em;
    opacity: .8;
    height: 24px;
    width: 24px;
    *cursor: pointer;
  }
  a:hover i {
    filter: none;
    opacity: 1;
  }
  .iqq {
    background-position: -59px -168px;
  }
  .i360 {
    background-position: 0 -175px;
  }
  .ituan {
    background-position: 0 -200px;
  }
  .iweibo {
    background-position: 0 -225px;
  }
  .ibaidu {
    background-position: 0 -250px;
  }
  .imogu {
    background-position: 0 -275px;
  }
  .irenren {
    background-position: 0 -300px;
  }
  .ixunlei {
    background-position: 0 -325px;
  }
  .ialipay {
    background-position: -59px -193px;
  }
}

.sign {
  .shadow_l, .shadow_r {
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    _height: expression(this.offsetParent.clientHeight);
  }
  .shadow_l {
    left: -9px;
  }
  .shadow_r {
    background-color: #fff;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    right: -9px;
  }
}

.sign_main {
  border: 1px solid #ddd;
  margin: 72px auto 20px;
  position: relative;
  display: block;
  @extend %c84;
  background: #fff;
  margin: 200px auto 100px;
}

.sign .content_head {
  overflow: hidden;
  color: #333;
  padding: 30px 0 10px;
}

.content_head {
  h1 {
    font-size: 24px;
  }
  a {
    float: right;
    margin-top: 1em;
  }
  span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}

.sign h1 {
  @extend %ffyh;
}

.login .textbox_ui{
  padding-bottom: 10px;
}

.loginWrap {
  .verityWrap, .textbox_ui {
    height: 56px;
  }
  .verityWrap .textbox_ui {
    display: inline-block;
    margin-bottom: 0;
    *display: inline;
    *zoom: 1;
  }
}

.user,.pass{
  @extend %pr;
}

.user input, .pass input {
  padding-left: 38px;
  width: 262px;
}

.user .ico,.pass .ico{
  @extend %icon,%pa;
  width: 22px;
  height: 22px;
  display: block;
  top: 9px;
  left: 9px;
}

.user .ico{
  background-position: -100px -124px;
}

.pass .ico{
  background-position: -128px -124px;
}

.user input {
  background-position: 5px 0;
}

.pass input {
  background-position: 5px -50px;
}

.loginBord {
  .notie {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;
    margin-bottom: 16px;
    color: #e31256;
  }
  .info {
    font-size: 14px;
    margin: 1em 0;
  }
  .loginTit {
    margin-top: 15px;
    line-height: 60px;
    *zoom: 1;
  }
}

.loginTit {
  .tosignup {
    color: #969696;
    float: right;
  }
  h1 {
    font-weight: 400;
    font-size: 20px;
    color: $hcolor;
  }
}

.loginBord {
  .pass {
    margin-top: 15px;
  }
  p a {
    color: inherit;
    *color: #333;
  }
  form p {
    margin: 10px 0;
  }
}

.loginbtn {
  margin-bottom: 10px;
  outline: 0;
}

.loginBord .invalid {
  width: 290px;
  white-space: normal;
  word-break: normal;
}

#errorMsg {
  display: none;
  background-color: #ffc;
  border: 1px solid #FFCF6C;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
}



.signup {
  .main {
    padding: 0 0 60px 50px;
  }
  .sidebar {
    position: absolute;
    right: 60px;
    top: 0;
  }
}

.sidebar .siderbar_head {
  margin: 70px 0 10px;
  font-size: 14px;
  color: #333;
}

.signup .otherAccout {
  margin-top: 100px;
}

.sign_main .tabnav {
  line-height: 36px;
  margin: -37px 0 0;
  width: 500px;
  padding-left: 100px;
}

.tabnav {
  a {
    border: 1px solid #ddd;
    display: inline-block;
    text-decoration: none;
    background: #fafafa;
    position: relative;
    margin-right: 2px;
    border-bottom: 0;
    padding: 0 20px;
    color: #666;
    *margin: 0;
    *zoom: 1;
    font-size: 14px;
  }
  .curr {
    background: #29634f;
    color: #fff;
    border: 0;
    font-weight: 700;
    &::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: inherit;
      position: absolute;
      display: block;
      bottom: -2px;
      content: "";
      height: 5px;
      width: 5px;
      right: 50%;
    }
  }
}

.signup .phonecode, .side_signup .phonecode, .sendcode {
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);
  background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
  background: -o-linear-gradient(top, #fcfcfc, #f2f2f2);
  background: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
  border: 1px solid #d9d9d9;
  text-decoration: none;
  display: inline-block;
  line-height: 38px;
  font-weight: 700;
  padding: 0 20px;
  color: #666;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFCFCFC, endColorStr=#FFF2F2F2);
}

.signup #phone {
  display: none;
}

.resetreq_main {
  line-height: 1.5;
  font-size: 14px;
  color: #666;
  .main {
    width: 820px;
    margin: auto;
    padding: 50px 0;
    min-height: 410px;
    _height: 410px;
  }
  .content_head {
    border-bottom: 1px solid #E9E9E9;
  }
  .success_wrapper {
    text-align: center;
  }
  .opt_success {
    display: inline-block;
    position: relative;
    margin: 40px auto;
    font-size: 20px;
    color: #ed145b;
    left: 25px;
    *display: inline;
    *zoom: 1;
  }
}

.opt_success b {
  background: url(/passport_web/dist/images/v0.1/account/login_sign/status_ok.png?1) no-repeat center;
  width: 55px;
  height: 55px;
  position: absolute;
  margin-top: -28px;
  left: -65px;
  top: 50%;
  background-image: url(/passport_web/dist/images/v0.1/account/login_sign/status_ok_8.png?1);
}

.resetreq_main .check_mail {
  margin: 40px auto;
}

.signok {
  .main {
    margin: 65px 120px;
    line-height: 1.5;
    font-size: 14px;
    color: #666;
  }
  h1 {
    font-weight: 400;
    font-size: 24px;
    color: #ed145b;
  }
  .notice {
    border: 1px solid #EFE68B;
    padding: 0 30px 30px;
    background: #FEFFE5;
  }
  form {
    margin-bottom: 20px;
  }
  h2 {
    font-weight: 400;
    line-height: 65px;
    font-size: 18px;
    color: #8ec52b;
  }
  p {
    color: #333;
  }
  .textbox_ui {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em;
    *display: inline;
    *height: 40px;
    *width: 302px;
    *zoom: 1;
    input {
      *position: absolute;
      *left: 0;
    }
  }
  p, .notice {
    margin: 30px 0;
  }
  .sendmail {
    margin: 30px 0;
    font-size: 12px;
  }
  ol {
    list-style: disc inside;
    margin: 1em 0;
    color: #aaa;
  }
  .sign_butn {
    margin-top: 15px;
  }
}

#signup-submit{
  display: inline-block;
  font-family: inherit;
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  line-height: 34px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  height: 34px;
  color: #fff;
  border: 0;
  width: 310px;
  border-radius: 3px;
}

/* 忘记密码 */
%icon{
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
}
.forget{
  background: #3b4a45;
  padding: 214px 0 74px;
}
.forget_d{
  border: 3px solid #435550;
  background: #fff;
  width: 994px;
  margin: auto;
  padding: 32px;
  .f_box{
    width: 500px;
    margin-left: 50px;
    border-right: 1px solid #eee;
    h1{
      font-weight: 400;
      font-size: 20px;
      color: #faa42e;
    }
  }
  .s_box{
    width: 350px;
    .now{
      display: block;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      background: #4c5d57;
      font-size: 14px;
      margin-top: 40px;
      margin-bottom: 20px;
      &:hover{
        background: #618478;
      }
    }
    .otherAccout{
      width: 202px;
    }
  }
}
.line{
  margin: 30px 20px;
  position: relative;
}
.textbox_ui .invalid, .textbox_ui .focus_text{
  left: 88px;
}
.btn{
  margin-left: 10px;
  border: 1px solid #dddddd;
  padding: 0;
  width: 106px;
  height: 36px;
  background: #f4f4f4;
  margin-top: 0;
  text-align: center;
  line-height: 36px;
  color: #333;
  text-decoration: none;
  display: inline-block;
}
.reg-bu{
  margin: 14px 0 80px 118px;
  width: 161px;
  height: 36px;
  line-height: 36px;
  background: #faa42e;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  button{
    width: 100%;
    height: 100%;
    display: block;
    background: $hcolor;
    border:0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
}
.otherAccout {
  background-color: #f6f6f6;
  margin-bottom: 10px;
  padding-left: 1px;
  max-width: 303px;
  _width: 304px;
  *padding-bottom: 1px;
  *zoom: 1;
  p {
    padding-left: 11px;
    line-height: 30px;
    color: #666;
  }
  a {
    text-decoration: none;
    margin: 0 1px 1px 0;
    line-height: 35px;
    background: #fff;
    padding: 0 10px;
    color: #000;
    width: 80px;
    float: left;
    _line-height: normal;
    _padding: 5px 10px;
  }
  i {
    @extend %icon;
    filter: alpha(opacity = 80);
    vertical-align: middle;
    display: inline-block;
    margin-right: .25em;
    opacity: .8;
    height: 24px;
    width: 24px;
    *cursor: pointer;
  }
  a:hover i {
    filter: none;
    opacity: 1;
  }
  .iqq {
    background-position: -59px -168px;
  }
  .i360 {
    background-position: 0 -175px;
  }
  .ituan {
    background-position: 0 -200px;
  }
  .iweibo {
    background-position: 0 -225px;
  }
  .ibaidu {
    background-position: 0 -250px;
  }
  .imogu {
    background-position: 0 -275px;
  }
  .irenren {
    background-position: 0 -300px;
  }
  .ixunlei {
    background-position: 0 -325px;
  }
  .ialipay {
    background-position: -59px -193px;
  }
}


.forget .msg-text {
  color: #999;
  margin-top: -26px;
  display: none;
}
.forget .ftx-01 {
  color: #f00;
}





%ffst{  //宋体
  font-family: SimSun;
}
%ffht{  //黑体
  font-family: SimHei;
}
%ffyh{  //微软雅黑
  font-family: Microsoft yahei;
}
%ffar{  //Arial
  font-family: Arial;
}
%icon{  //图标集
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
}
%w100{  //图片自适应
  width: 100%;
}
%nowrap{  //单行文字
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
%inline{  //行内元素
  display:inline-block;
  *display:inline;
  zoom:1;
  vertical-align: middle;
}
%imgtc{    //图片的垂直居中
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  *display: block;
  *font-size: 175px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;
  width:200px;
  height:200px;
  border: 1px solid #eee;
}
%center{    //主体居中
  width: 1200px;
  margin: auto;
}
%minw{    //最小宽度
  min-width: 1060px;
}
%fl{
  float: left;
}
%fr{
  float: right;
}
%pr{
  position: relative;
}
%pa{
  position: absolute;
}
%c84{
  width: 1060px;
  margin: auto;
}